@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    padding-top: 32px; 
    border-bottom: none

  }
  .for-box {
    padding-top: 32px;
  }

  .header__input {
    display: none;

  }
  .header__nav-link {
    display: none;
  }
  .logo__img{
    width: 99px;
  }
  .menu-mobail {
    display: flex;
    align-items: center;
    gap: 32px;

  }
  .hero-page__title {
    font-size: 48px;
    line-height: 59px;
    
  }
  .hero-page__wrapper{
    text-align: center;

  }
  .hero-page__subtitle {
    margin-bottom: 28px;
    font-size: 16px;
    line-height: 20px;

  }

  .hero-page__link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

  }
  .for-box__title{
    font-size: 24px;
    line-height: 29px;
  }
  .for {
    grid-template-columns: repeat (4, 1fr);
    gap: 16px;

  }
 .for__item {
   font-size: 28px;
   line-height: 34px;
   height: 375px;
   grid-column: 1 / -1;

 }
 .for__item_big {
  height: 244px;

 }
  .content__title  {
    font-size: 28px;
   line-height: 34px;

  }
  .footer__bloc{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  
  .form {
    margin-top: 0;
    margin-bottom: 32px;
  }
  .product__name{
   font-weight: 500;
   font-size: 18px;
  }
  .product__title {
   font-weight: 400;
   font-size: 14px;
  }
  .product__price {
   font-size: 18px;
   line-height: 22px;
  
  }
  .product{
    width: 100%;
  }
  /*каталог */

  .catalog-controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
     margin-top: 0;

  }

  .catalog-controls__link{
    
  font-size: 14px;
 line-height: 17px;
  }
 .сatalog-controls__select_popular {

  
font-size: 14px;
line-height: 17px;

 }
 .catalog-controls__select {
 font-size: 14px;
 line-height: 17px;

 }

  .catalog-controls__title {
    margin-top: 39px ;

  }

  .cotainer {
    display: flex;
    flex-direction: column-reverse;

  }

  .hading-big {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
  }
  .cart__box, .cart-item__img {
    display: none;

  }

  .cart__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

  }
  .cart-item__title {
    font-size: 18px;
    line-height: 22px;

  }
  .cart-item__description {
   font-size: 14px;
   line-height: 17px;
   
  }
  .cart__clearCart, .cart__purchase { 
   font-size: 12px;
   line-height: 15px;

  }
  .cart__clearCart{
    max-width: 166px;
  }
  .cart__purchase{
    max-width: 163px;
  }
  .filter-form__content{
    width: 190px;
    min-width: 0;
    max-height: none;
    height: auto;
    flex-wrap: nowrap;
  }
  
  .filter-form {
  padding: 40px 24px;
  width: fit-content;
  }
 

  
  
}
